<form id="new_record_form">
    <div class="form-group">
        <label for="date">From:</label>
        <input type="date" class="form-control" id="from_date" name="from_date"
            placeholder="Date">
    </div>
    <div class="form-group">
        <label for="date">To:</label>
        <input type="date" class="form-control" id="to_date" name="to_date"
            placeholder="Date">
    </div>
    <div class="form-group">
        <input type="button" class="form-control small-button" id="show_this_month"
            value="This month">

        <input type="button" class="form-control small-button" id="show_this_year"
            value="This year">
    </div>


    <table>
        <thead>
            <tr>
                <td>
                    Date
                </td>
                <td>
                    Distance traveled
                </td>
                <td>
                    Fuel used
                </td>
                <td>
                    Description
                </td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <input type="button" class="form-control small-button" id="erase_all"
        value="Erase all data">
</form>